body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  color: #333;
  text-align: center;
}
.heading-1{
  background-color: red;
}
.title {
  font-size: 2rem;
  margin-top: 20px;
  color: yellow;
}

.title span {
  color: deepskyblue;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 20px;
  text-align: left;
}

.recipe-title {
  background-color: #c0392b;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}


.details {
  margin: 15px 0;
}

.footer {
  font-size: 0.9rem;
  color: gray;
  text-align: center;
}
